
body {
    background-color: #f3f2f1;
}

.contribution {
    position: static;
    justify-content: normal;
    overflow: visible;
    background-image: linear-gradient(0deg,var(--white) 20%,var(--desert-storm));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 20px;
    max-width: 1400px;
    max-width: var(--wide-desktop-width);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.top {
    display: flex;
    align-items: center;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 57px;
    background: var(--white);
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 
    rgba(0, 0, 0, 0.281);
}


a {
    outline: none;
    text-decoration: none;
}

.active a{
    color: #629ff4;
    border-bottom: 2px solid #629ff4;
    padding-bottom: 12px;
    margin-left: 52px;
    margin-right: auto;
    font-size: 20px;
}

.links a{
    padding-bottom: 12px;
    margin-left: 52px;
    margin-right: auto;
    font-size: 20px;
    color: #000;
    color: var(--black);
}

.videoBox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width:252px;
    height: 206px;
    box-shadow: 4px 4px 8px 4px 
    rgba(0, 0, 0, 0.418);
}


.img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.button:hover {
    background-color: white;
    color: black;
}

.disabledButton {
    opacity: 0.3;
}

.disabledButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.screenshotButton {
    background-color: #4CAF50; 
    color: white; 
    border: 2px solid #4CAF50;
    border-radius: 15px;
}

#forScreenshotButton {
    display:flex;
    width:30%;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

#validation_container {
    display:flex;
    width: 55%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 22.5%;
    margin-right: 22.5%;
}

.selectedImage {
    opacity: 0.2;
}

.onTop {
    position: relative;
    right:70px;
    z-index: 100;
}

#forButtons {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px auto;
    width: 20%;
}

#forScreenshots {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 80%;
}